<% layout('layout') %>

<div class="mx-auto" style="max-width: 540px">
  <h2 class="text-center">Sign Up</h2>

  <% if (errors && errors.length > 0) { %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% errors.forEach((error) => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
  <% } %>

  <form action="/sign-up" method="post">
    <div class="mb-2 row">
      <div class="col">
        <label for="first_name" class="form-label">First name</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          value="<%= formData ? formData.first_name : '' %>"
        />
      </div>
      <div class="col">
        <label for="last_name" class="form-label">Last name</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          name="last_name"
          value="<%= formData ? formData.last_name : '' %>"
        />
      </div>
    </div>
    <div class="mb-2">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        value="<%= formData ? formData.username : '' %>"
      />
    </div>
    <div class="mb-2">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        value="<%= formData ? formData.password : '' %>"
      />
    </div>
    <div class="mb-2">
      <label for="confirm_password" class="form-label">Confirm password</label>
      <input
        type="password"
        class="form-control"
        id="confirm_password"
        name="confirm_password"
        value="<%= formData ? formData.confirm_password : '' %>"
      />
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
  <p class="text-center">
    Already have an account? <a href="/log-in">Log in</a>
  </p>
</div>
